body{
    padding: 0em;
    background-color: #181818;
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 60px; /* Margin bottom by footer height */
    /*font-family: 'Play', sans-serif;*/
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.dashboard{
    color: white;
    padding-top: 1em;
}


/* Formatting for the Timing Tower */

.ttCustomTable{
    /*opacity: 0.5;*/
    line-height: .05em;
}

#ttBranding{
    text-align: center;
}

.timing-dark-color{
    background-color: rgba(0, 0, 0, 0.75); !important;
}

.ttRank span{
    background-color: white;
    color: black;
    padding-left: 1em;
    padding-right: 1em;
}

/*Styling for Event banner*/
/*Styling for Event banner*/
/*Styling for Event banner*/
.banner-container {
    font-size: 2em;
    margin: 0 auto;
    display: flex;
}
.banner-col {
    padding: 1em;
}
/*Flag/Event Type Column*/
.banner-col-3 {
    flex-basis: 25%;
    color: white;
    font-weight: bold;
    text-align: center;
}

/*Flag Colours*/
.greenFlagEvent{background-color: green;color: white;}
.yellowFlagEvent{background-color: yellow;color: black;}
.redFlagEvent{background-color: darkred;color: white;}
.orangeFlagEvent{background-color: orangered;color: white;}
.blackFlagEvent{background-color: black;color: red;}
/*Flag Colours*/


/*Flag/Event Reason (description) Column*/
.banner-col-6 {
    flex-basis: 75%;
    color: white;
    background-color: rgba(0, 0, 0, 0.75); !important;
}

/*WIP SLIDE TRANSITION*/
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
.bannerSlide{
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
    padding: 30px;
}
/*Styling for Event banner*/
/*Styling for Event banner*/
/*Styling for Event banner*/

/* Get rid of lap times if the res is too small*/
/*Screen Width of 200+ will always show lap times*/
@media only screen and (max-width: 230px) {
    .lapTimeCollapse{
        display: none;
    }
}
/* Get rid of team colour strips if the screen size falls below a value*/
@media only screen and (max-width: 115px) {
    .teamColourCollapse{
        display: none;
    }
}
@media only screen and (max-width: 250px) {
    .tyreCollapse{
        display: none;
    }
}

.ttHeaderLeaderboard{
    text-align: center;
}

.ttHeaderLeaderboard tr {
    line-height: 0.5em;
    min-height: 0.5em;
    height: 0.5em;
}

.tickerDriverName{
    font-weight: bold;
}

/* Colours for all teams */
.teamTurq{
    color: #00ddc2;
}
.teamRed{
    color: #ff0f00;
}
.teamDarkBlue{
    color: rgba(49, 98, 255);
}
.teamYellow{
    color: #eaea00;
}
.teamOrange{
    color: #ff7e00;
}
.teamWhite{
    color: white;
}
.teamDarkRed{
    color: #de0000;
}
.teamLightBlue{
    color: rgb(90, 189, 255);
}
.teamPink{
    color: #ff8ac0;
}
.teamGold{
    color: #cea048;
}
.teamUnknown{
    color: #ffffff;
}

.teamTurqBG{
    background-color: #00ddc2;
    color: black;
    font-weight: bold;
}
.teamRedBG{
    background-color: #ff0f00;
    color: black;
    font-weight: bold;
}
.teamDarkBlueBG{
    background-color: rgb(49, 98, 255);
    color: black;
    font-weight: bold;
}
.teamYellowBG{
    background-color: #eaea00;
    color: black;
    font-weight: bold;
}
.teamOrangeBG{
    background-color: #ff7e00;
    color: black;
    font-weight: bold;
}
.teamWhiteBG{
    background-color: white;
    color: black;
    font-weight: bold;
}
.teamDarkRedBG{
    background-color: #de0000;
    color: black;
    font-weight: bold;
}
.teamLightBlueBG{
    background-color: rgb(90, 189, 255);
    color: black;
    font-weight: bold;
}
.teamPinkBG{
    background-color: #ff8ac0;
    color: black;
    font-weight: bold;
}
.teamGoldBG{
    background-color: #cea048;
    color: black;
    font-weight: bold;
}
.teamUnknownBG{
    background-color: #ffffff;
    color: black;
    font-weight: bold;
}

.vertLarge{
    font-weight: bold;
    font-style: italic;
    font-size: 2em;
    background: rgba(0, 0, 0, 0.25);
}

.fastestLapHighlight{
    background-color: #b900db;
}

.tyreS{
    color: #ff3131;
}
.tyreM{
    color: #ffdd31;
}
.tyreH{
    color: #cdcdcd;
}
.tyreI{
    color: #00a503;
}
.tyreW{
    color: #0f6fb7;
}

.chequeredFlag{
    background-image: url("/img/chequeredFlag.gif");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.yellowFlag {
    animation-name: yellowFlagAnimate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.redFlag {
    animation-name: redFlagAnimate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.greenFlag {
    animation-name: greenFlagAnimate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/*CUSTOM FLAG BG ANIMATIONS, ADJUST AS REQ.*/
@keyframes yellowFlagAnimate {
    0% {
        background: #fb3;
    }
    50% {
        background: rgba(255, 187, 51, 0.51);
    }
    100% {
        background: #fb3;
    }
}

@keyframes redFlagAnimate {
    0% {
        background: #ff3547;
    }
    50% {
        background: rgba(255, 53, 71, 0.51);
    }
    100% {
        background: #ff3547;
    }
}

@keyframes greenFlagAnimate {
    0% {
        background: #00c851;
    }
    50% {
        background: rgba(0, 200, 81, 0.51);
    }
    100% {
        background: #00c851;
    }
}
